In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"..\resources\2021_data.pdf", r"..\uncleaned_csv\adult_uninsured2021.csv", output_format="csv", pages='26', stream = True)

In [3]:
# Read in csv
adult_uninsured_df = pd.read_csv(r"..\uncleaned_csv\adult_uninsured2021.csv")

adult_uninsured_df = adult_uninsured_df.dropna(how='all')

In [4]:
adult_uninsured_df = adult_uninsured_df[pd.to_numeric(adult_uninsured_df['Adults with AMI who are Uninsured Rank'], errors='coerce').notnull()]

In [5]:
adult_uninsured_df = adult_uninsured_df.rename(columns={'Adults with AMI who are Uninsured Rank' : 'Rank'})

In [6]:
adult_uninsured_df

   Rank                 State  Rate        #
0     1  District of Columbia   2.5    3,000
1     2               Vermont   3.9    4,000
2     3         Massachusetts   4.2   51,000
3     4           Connecticut   4.6   25,000
4     5              Kentucky   4.8   37,000
5     6              New York   5.1  139,000
6     7          Rhode Island   5.8   11,000
7     8          Pennsylvania   6.0  108,000
8     9              Michigan   6.4   93,000
9    10            New Mexico   6.4   19,000
10   11                Hawaii   6.4   12,000
11   12              Delaware   6.8   10,000
12   13              Maryland   7.0   55,000
13   14                  Ohio   7.1  138,000
14   15             Minnesota   7.3   58,000
15   16             Wisconsin   7.4   62,000
16   17         New Hampshire   7.5   17,000
17   18            California   7.8  434,000
18   19          South Dakota   8.2    9,000
19   20         West Virginia   8.3   31,000
20   21                  Iowa   8.4   39,000
25   26                Oregon   9.0   67,000
26   27               Arizona   9.6   97,000
27   28             Louisiana   9.7   72,000
29   29              Nebraska  10.3   25,000
31   30               Montana  10.3   17,000
33   31                Nevada  10.5   51,000
37   35                Alaska  11.6   12,000
40   38        South Carolina  12.5   85,000
42   39                 Maine  12.7   29,000
44   40              Virginia  13.5  147,000
46   41                 Idaho  13.7   46,000
49   44              Missouri  16.2  169,000
53   48             Tennessee  19.0  171,000
55   49                 Texas  20.1  664,000
56   50           Mississippi  22.2   95,000

In [7]:
adult_uninsured_df.loc[len(adult_uninsured_df.index)] = [None, 'National', 10.8, 5114000]

In [8]:
# change dtype of # column
adult_uninsured_df['#'] = adult_uninsured_df['#'].str.replace(',', '').astype(float)

In [9]:
# Add suffix 
adult_uninsured_df = adult_uninsured_df.add_suffix('_adult_uninsured_2021')

In [10]:
adult_uninsured_df = adult_uninsured_df.rename(columns={'State_adult_uninsured_2021' : 'State'})

In [11]:
adult_uninsured_df.to_csv(r'..\resources\adult_uninsured_clean2021.csv')