In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"..\resources\2021_data.pdf", r"..\uncleaned_csv\youth_some_mh_unclean2021.csv", output_format="csv", pages='29', stream = True)

In [3]:
youth_someMH_df = pd.read_csv(r"..\uncleaned_csv\youth_some_mh_unclean2021.csv")
youth_someMH_df = youth_someMH_df.dropna(how='all')

In [4]:
youth_someMH_df

                Rank State     %       #  Rank           State   %.1      #.1
0                  1 Maine  50.0   5,000  27.0            Iowa  28.8    7,000
1               2 Maryland  49.2  21,000  28.0  South Carolina  28.3    9,000
2               3  Vermont  45.4   2,000  29.0          Hawaii  28.3    2,000
3               4 Delaware  41.5   2,000  30.0   West Virginia  27.8    4,000
4           5 Rhode Island  41.2   3,000  31.0       Tennessee  27.3   12,000
5              6 Wisconsin  40.4  23,000  32.0      Washington  26.7   13,000
6                 7 Oregon  37.9  14,000  33.0         Indiana  26.1   16,000
7          8 Massachusetts  37.7  15,000  34.0        Virginia  26.1   16,000
8   9 District of Columbia  37.3   1,000  35.0         Alabama  25.9    6,000
9          10 Pennsylvania  37.1  23,000  36.0           Texas  25.0   54,000
10              11 Wyoming  36.3   2,000  37.0        Illinois  25.0   26,000
11                 12 Ohio  36.0  28,000  38.0         Arizona  24.7   15,000
12             13 Nebraska  35.9   5,000  39.0      California  24.6   59,000
13                14 Idaho  35.8   6,000  40.0            Utah  24.5    8,000
14        15 New Hampshire  34.9   3,000  41.0        Oklahoma  23.5    8,000
15             16 Kentucky  34.2  10,000  42.0      New Mexico  22.6    5,000
16            17 Minnesota  33.7  13,000  43.0        New York  21.9   22,000
17         18 North Dakota  33.0   1,000  44.0  North Carolina  21.9   21,000
19           19 New Jersey  32.5  16,000  45.0     Connecticut  21.6    5,000
20            20 Louisiana  32.0   9,000  46.0        Colorado  21.5    8,000
21               21 Kansas  31.1   7,000  47.0         Florida  19.7   24,000
22     15,000  22 Arkansas  30.0   7,000  48.0         Georgia  19.2      NaN
23               23 Alaska  29.9   2,000  49.0        Missouri  19.0    9,000
24             24 Michigan  29.8  24,000  50.0     Mississippi  14.9    2,000
25              25 Montana  29.3   2,000  51.0          Nevada  11.2    3,000
26         26 South Dakota  29.2   1,000   NaN        National  27.3  614,000

In [5]:
# Extract second half of ami_df to make second df to be joined back in
youth_someMH_df_2 = youth_someMH_df[["Rank", "State", "%.1", "#.1"]]
youth_someMH_df_2 = youth_someMH_df_2.rename(columns={"%.1" : "%", "#.1": "#"})

In [6]:
# drop seperated columns
youth_someMH_df = youth_someMH_df.drop(columns={"Rank", "State", "%.1", "#.1"})

In [7]:
# Splitup problematic data
youth_someMH_df['Rank'], youth_someMH_df['State'] = youth_someMH_df['Rank State'].str.split(' ', 1).str

youth_someMH_df = youth_someMH_df.drop(columns='Rank State')

C:\Users\noaht\AppData\Local\Temp/ipykernel_13720/3087203433.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  youth_someMH_df['Rank'], youth_someMH_df['State'] = youth_someMH_df['Rank State'].str.split(' ', 1).str

In [8]:
# Rename and reappend cleaned half of dataframe.
youth_someMH_df = youth_someMH_df[['Rank', 'State', '%', '#']]
youth_someMH_df = youth_someMH_df.append(youth_someMH_df_2)

In [9]:
youth_someMH_df = youth_someMH_df.reset_index(drop=True)

In [10]:
# Assign proper values
youth_someMH_df.loc[21, "Rank"]=22
youth_someMH_df.loc[21, "State"]='Arkansas'
youth_someMH_df.loc[47, "#"] = 15000

In [11]:
# change dtype of # column
youth_someMH_df['#'] = youth_someMH_df['#'].str.replace(',', '').astype(float)

In [12]:
youth_someMH_df = youth_someMH_df.add_suffix('_youth_someMH_2021')

In [13]:
youth_someMH_df = youth_someMH_df.rename(columns={'State_youth_someMH_2021' : 'State'})

In [14]:
youth_someMH_df.to_csv(r'..\resources\youth_some_mh_service_clean2021.csv', sep=',', index=False)