In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"..\resources\2021_data.pdf", r"..\uncleaned_csv\youth_no_mhunclean2021.csv", output_format="csv", pages='28', stream = True)

In [3]:
youth_nomh_df = pd.read_csv(r"..\uncleaned_csv\youth_no_mhunclean2021.csv")
youth_nomh_df = youth_nomh_df.dropna(how='all')

In [4]:
# reset Index
youth_nomh_df.reset_index(drop=True)

,Rank,State,%,#,Rank.1,State.1,%.1,#.1
0,1,Maine,38.6,"6,000",27.0,New Hampshire,56.9,"9,000"
1,2,District of Columbia,38.8,"1,000",28.0,Pennsylvania,57.5,"56,000"
2,3,Vermont,40.7,"2,000",29.0,Alaska,57.8,"5,000"
3,4,Maryland,41.3,"23,000",30.0,Missouri,58.8,"40,000"
4,5,Utah,45.2,"22,000",31.0,New York,59.1,"85,000"
5,6,Washington,47.0,"38,000",32.0,Connecticut,59.1,"24,000"
6,7,Wisconsin,47.2,"33,000",33.0,West Virginia,59.3,"11,000"
7,8,Delaware,47.9,"4,000",34.0,Arizona,59.6,"52,000"
8,9,Kentucky,49.3,"19,000",35.0,North Carolina,60.2,"77,000"
9,10,South Dakota,49.7,"3,000",36.0,Colorado,60.9,"29,000"
10,11,Ohio,52.2,"59,000",37.0,Oklahoma,61.1,"35,000"
11,12,Virginia,53.0,"51,000",38.0,Idaho,61.2,"15,000"
12,13,Indiana,53.0,"48,000",39.0,Massachusetts,61.2,"41,000"
13,14,Iowa,53.0,"20,000",40.0,Tennessee,61.5,"35,000"
14,15,North Dakota,53.4,"3,000",41.0,Illinois,62.1,"90,000"
15,16,Rhode Island,53.4,"5,000",42.0,New Mexico,62.9,"20,000"
16,17,Oregon,53.9,"30,000",43.0,Arkansas,63.9,"23,000"
17,18,Kansas,54.7,"19,000",44.0,Florida,64.7,"116,000"
18,19,Louisiana,54.9,"24,000",45.0,California,66.0,"259,000"
19,20,Minnesota,55.4,"32,000",46.0,Mississippi,66.3,"18,000"
20,21,Nebraska,55.4,"12,000",47.0,Texas,67.1,"209,000"
21,22,Montana,55.6,"5,000",48.0,South Carolina,68.0,"36,000"
22,23,Michigan,55.7,"66,000",49.0,Alabama,69.7,"31,000"
23,24,New Jersey,55.7,"40,000",50.0,Georgia,70.4,"73,000"
24,25,Hawaii,56.2,"5,000",51.0,Nevada,71.0,"23,000"
25,26,Wyoming,56.6,"4,000",NaN,National,59.6,"1,988,000"
26,services they need.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,The state prevalence of untreated,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,youth with depression ranges from:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,38.6% (ME) 71.0% (NV),NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Ranked 1-13 Ranked 39-51,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Drop bugged rows
youth_nomh_df = youth_nomh_df.drop(youth_nomh_df.index[[26,27,28,29,30]])

In [6]:
# Extract second half of ami_df to make second df to be joined back in
youth_nomh_df_2 = youth_nomh_df[["Rank.1", "State.1", "%.1", "#.1"]]
youth_nomh_df_2 = youth_nomh_df_2.rename(columns={'Rank.1' : "Rank", "State.1" : "State", "%.1" : "%", "#.1": "#"})

In [7]:
youth_nomh_df = youth_nomh_df.drop(columns={"Rank.1", "State.1", "%.1", "#.1"})

In [8]:
# Merge both dfs together, making final df
youth_nomh_df = youth_nomh_df.append(youth_nomh_df_2)

In [9]:
# change dtype of # column
youth_nomh_df['#'] = youth_nomh_df['#'].str.replace(',', '').astype(float)

In [10]:
youth_nomh_df = youth_nomh_df.add_suffix('_youth_no_mh_care2021')

In [11]:
youth_nomh_df = youth_nomh_df.rename(columns={'State_youth_no_mh_care2021' : 'State'})

In [12]:
youth_nomh_df.to_csv(r'..\resources\youth_no_mh_service2021.csv', sep=',', index=False)