In [30]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [31]:
tabula.convert_into(r"resources\2020_data.pdf", "uncleaned_csv\youth_mde_2020_unclean.csv", output_format="csv", pages='33')

In [32]:
# Read in csv
youth_mde_df = pd.read_csv("uncleaned_csv\youth_mde_2020_unclean.csv")
youth_mde_df.dropna(how='all')

,Rank,State,%,#,Rank.1,State.1,%.1,#.1
0,1.0,Mississippi,6.0,"14,000",27.0,Virginia,9.1,"55,000"
1,2.0,North Dakota,6.0,"3,000",28.0,Montana,9.2,"7,000"
2,3.0,Kentucky,6.3,"21,000",29.0,Alaska,9.3,"5,000"
3,4.0,Delaware,6.6,"4,000",30.0,North Carolina,9.8,"75,000"
4,5.0,Iowa,6.9,"17,000",31.0,Ohio,9.9,"87,000"
5,6.0,New Jersey,7.0,"47,000",32.0,Florida,10.0,"137,000"
7,7.0,South Dakota,7.3,"5,000",33.0,Maryland,10.0,"43,000"
8,8.0,Louisiana,7.5,"27,000",34.0,Illinois,10.1,"98,000"
9,9.0,New York,7.5,"102,000",35.0,Wyoming,10.1,"4,000"
10,10.0,Georgia,7.7,"65,000",36.0,Connecticut,10.2,"27,000"
11,11.0,Nebraska,7.7,"12,000",37.0,Rhode Island,10.2,"7,000"
12,12.0,Kansas,7.8,"18,000",38.0,Indiana,10.4,"54,000"
13,13.0,District of Columbia,7.9,"2,000",39.0,Tennessee,10.4,"52,000"
15,14.0,Alabama,8.1,"29,000",40.0,Massachusetts,10.5,"50,000"
16,15.0,Vermont,8.2,"3,000",41.0,Minnesota,10.5,"44,000"
17,16.0,Colorado,8.3,"35,000",42.0,New Mexico,10.5,"17,000"
18,17.0,New Hampshire,8.3,"8,000",43.0,Utah,10.7,"31,000"
19,18.0,Arkansas,8.4,"19,000",44.0,Washington,10.7,"56,000"
20,19.0,Oklahoma,8.4,"26,000",45.0,Wisconsin,10.8,"47,000"
21,20.0,Pennsylvania,8.6,"77,000",46.0,Missouri,11.3,"51,000"
23,21.0,California,8.8,"258,000",47.0,West Virginia,11.3,"14,000"
24,22.0,Arizona,8.9,"47,000",48.0,Idaho,11.7,"17,000"
25,23.0,South Carolina,8.9,"32,000",49.0,Oregon,12.7,"36,000"
26,24.0,Hawaii,9.0,"8,000",50.0,Maine,13.1,"12,000"
27,25.0,Texas,9.0,"211,000",51.0,Nevada,13.2,"28,000"
28,26.0,Michigan,9.1,"68,000",NaN,National,9.2,"2,217,000"

In [33]:
# Extract second half of ami_df to make second df to be joined back in
youth_mde_df_2 = youth_mde_df[["Rank.1", "State.1", "%.1", "#.1"]]
youth_mde_df_2 = youth_mde_df_2.rename(columns={'Rank.1' : "Rank", "State.1" : "State", "%.1" : "%", "#.1": "#"})

In [34]:
# Drop columns that have been extracted
youth_mde_df = youth_mde_df.drop(columns={"Rank.1", "State.1", "%.1", "#.1"})

In [35]:
youth_mde_df = youth_mde_df.append(youth_mde_df_2)

In [36]:
youth_mde_df = youth_mde_df.dropna(how='all')

In [37]:
youth_mde_df = youth_mde_df.add_suffix('_youth_mde_2020')

In [38]:
youth_mde_df = youth_mde_df.rename(columns={'State_youth_mde_2020' : 'State'})

In [39]:
youth_mde_df.to_csv(r'resources\youth_mde_clean2020.csv', sep=',', index=False)