In [243]:
# Import 
import pandas as pd
# To install, pip install tabula-py in your env
import tabula
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [244]:
tabula.convert_into(r"resources\2020_data.pdf", r"uncleaned_csv\adult_access2020.csv", output_format="csv", pages='34', stream = True)

In [245]:
# Read in csv
adult_access_df = pd.read_csv(r"uncleaned_csv\adult_access2020.csv")
adult_access_df
adult_access_df = adult_access_df.dropna(how='all')

In [246]:
# Extract second half of ami_df to make second df to be joined back in
adult_access_df_2 = adult_access_df[["Rank", "State", "%.1", "#.1"]]
adult_access_df_2 = adult_access_df_2.rename(columns={"%.1" : "%", "#.1": "#"})

In [247]:
# drop seperated columns
adult_access_df = adult_access_df.drop(columns={"Rank", "State", "%.1", "#.1"})

In [248]:
# Splitup problematic data
adult_access_df['Rank'], adult_access_df['State'] = adult_access_df['Rank State'].str.split(' ', 1).str

adult_access_df = adult_access_df.drop(columns='Rank State')

C:\Users\noaht\AppData\Local\Temp/ipykernel_1772/1540202657.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  adult_access_df['Rank'], adult_access_df['State'] = adult_access_df['Rank State'].str.split(' ', 1).str

In [249]:
# Rename and reappend cleaned half of dataframe.
adult_access_df = adult_access_df[['Rank', 'State', '%', '#']]
adult_access_df = adult_access_df.append(adult_access_df_2)

In [250]:
# Reset index to make cleaning possible
adult_access_df = adult_access_df.reset_index(drop=True)

In [251]:
# Assign proper values
adult_access_df.loc[15, "Rank"]=16
adult_access_df.loc[15, "State"]='Nebraska'
adult_access_df.loc[41, "#"]=829000

In [252]:
# change dtype of # column
adult_access_df['#'] = adult_access_df['#'].str.replace(',', '').astype(float)

In [253]:
# Add suffix 
adult_access_df = adult_access_df.add_suffix('_adult_care_access_2020')

In [254]:
adult_access_df = adult_access_df.rename(columns={'State_adult_care_access_2020' : 'State'})

In [255]:
adult_access_df

,Rank_adult_care_access_2020,State,%_adult_care_access_2020,#_adult_care_access_2020
0,1,Vermont,40.7,42000.0
1,2,New Hampshire,44.6,89000.0
2,3,Rhode Island,45.7,73000.0
3,4,Iowa,47.3,214000.0
4,5,Delaware,47.5,64000.0
5,6,Colorado,48.7,407000.0
6,7,Minnesota,49.5,360000.0
7,8,Maine,49.6,99000.0
8,9,Missouri,50.9,485000.0
9,10,Michigan,51.1,713000.0
10,11,Tennessee,51.4,485000.0
11,12,Utah,51.4,269000.0
12,13,West Virginia,51.4,177000.0
13,14,Massachusetts,52.0,603000.0
14,15,Arkansas,52.5,251000.0
15,16,Nebraska,52.7,126000.0
16,17,Wisconsin,52.9,427000.0
17,18,Washington,53.1,707000.0
18,19,Indiana,53.8,577000.0
19,20,Ohio,54.0,958000.0
20,21,Pennsylvania,54.3,960000.0
21,22,New Mexico,54.4,148000.0
22,23,North Carolina,54.6,754000.0
23,24,Mississippi,54.8,230000.0
24,25,Virginia,54.8,651000.0
25,26,Kentucky,55.0,425000.0
26,27.0,District of Columbia,55.4,68000.0
27,28.0,North Dakota,55.6,54000.0
28,29.0,South Dakota,55.6,61000.0
29,30.0,Connecticut,55.7,277000.0
30,31.0,Illinois,55.7,847000.0
31,32.0,Maryland,55.9,446000.0
32,33.0,Kansas,56.8,238000.0
33,34.0,Idaho,57.1,188000.0
34,35.0,South Carolina,57.4,397000.0
35,36.0,Montana,58.3,92000.0
36,37.0,Florida,59.3,1705000.0
37,38.0,New York,59.7,1590000.0
38,39.0,Oklahoma,59.7,344000.0
39,40.0,New Jersey,59.9,663000.0
40,41.0,Oregon,60.2,475000.0
41,42.0,Georgia,60.9,NaN
42,43.0,Arizona,61.3,543000.0
43,44.0,Texas,61.7,1991000.0
44,45.0,Louisiana,62.2,409000.0
45,46.0,Alaska,62.4,66000.0
46,47.0,Nevada,63.9,270000.0
47,48.0,Alabama,64.3,474000.0
48,49.0,Wyoming,64.3,57000.0
49,50.0,Hawaii,64.6,111000.0
50,51.0,California,64.8,3533000.0
51,NaN,National,57.2,26017000.0

In [202]:
adult_access_df.to_csv(r'resources\adult_access2020.csv', sep=',', index=False)

In [213]:
"postgresql://[user]:[password]@[location]:[port]/[database]"

In [235]:
pg_user = "postgres"
pg_pwd = db_password
pg_port = "5432"

In [236]:
host = 'project-vu-database-piecharts.c7rvpt2rehpr.us-east-2.rds.amazonaws.com'

In [240]:
db_string = "postgresql://{username}:{password}@{host}:{port}/project_db".format(username=pg_user, password=pg_pwd, host = host, port=pg_port)

In [241]:
engine = create_engine(db_string)

In [242]:
adult_access_df.to_sql(name='adult_access_care2020', con=engine, index=False)

In [ ]:
# # Do not run this yet!
# for data in pd.read_csv(fr'resources\adult_access2020.csv', chunksize=1000000):
#     data.to_sql(name='adult_care_access_2020', con=engine, if_exists='append')