In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"..\resources\2021_data.pdf", r"..\uncleaned_csv\adult_unmet_needs_2021.csv", output_format="csv", pages='25', stream = True)

In [3]:
# Read in csv
adult_unmet_need = pd.read_csv(r"..\uncleaned_csv\adult_unmet_needs_2021.csv")

adult_unmet_need = adult_unmet_need.dropna(how='all')

In [5]:
# Extract second half of ami_df to make second df to be joined back in
adult_unmet_need_2 = adult_unmet_need[["Rank.1", "State.1", "%.1", "#.1"]]
adult_unmet_need_2 = adult_unmet_need_2.rename(columns={'Rank.1' : "Rank", "State.1" : "State", "%.1" : "%", "#.1": "#"})

    Rank                 State     %           #
0   27.0                Alaska  24.4      26,000
1   28.0              Kentucky  24.5     189,000
2   29.0               Montana  24.6      41,000
3   30.0                 Maine  24.8      57,000
4   31.0         New Hampshire  24.8      55,000
5   32.0             Wisconsin  24.9     209,000
6   33.0              Maryland  25.2     196,000
7   34.0           Connecticut  25.4     135,000
8   35.0                  Iowa  25.5     117,000
9   36.0               Arizona  25.8     259,000
10  37.0              Arkansas  26.0     122,000
11  38.0              Missouri  26.1     272,000
12  39.0                Nevada  26.1     122,000
13  40.0              Nebraska  26.2      63,000
14  41.0          South Dakota  26.4      28,000
15  42.0        North Carolina  26.5     391,000
16  43.0        South Carolina  26.6     181,000
17  44.0          Pennsylvania  26.8     480,000
18  45.0          Rhode Island  27.9      50,000
19  46.0              Colorado  28.2     263,000
20  47.0              Virginia  28.6     309,000
21  48.0  District of Columbia  29.4      38,000
22  49.0                  Utah  30.1     172,000
23  50.0                Oregon  30.2     225,000
24  51.0                Kansas  31.6     132,000
25   NaN              National  23.6  11,119,000

In [6]:
# Drop columns that have been extracted
adult_unmet_need = adult_unmet_need.drop(columns={"Rank.1", "State.1", "%.1", "#.1"})

In [7]:
adult_unmet_need

    Rank          State     %          #
0      1         Hawaii  12.0     23,000
1      2        Alabama  18.7    153,000
2      3          Texas  19.9    655,000
3      4        Wyoming  19.9     18,000
4      5      Minnesota  20.7    163,000
5      6     New Mexico  20.8     61,000
6      7      Tennessee  20.9    188,000
7      8      Louisiana  21.0    155,000
8      9       New York  21.4    585,000
9     10  Massachusetts  21.6    263,000
10    11        Florida  21.9    633,000
11    12           Ohio  22.1    427,000
12    13          Idaho  22.1     73,000
13    14        Vermont  22.5     24,000
14    15     California  22.8  1,272,000
15    16       Illinois  22.9    388,000
16    17  West Virginia  22.9     84,000
17    18       Delaware  23.0     35,000
18    19        Georgia  23.1    317,000
19    20   North Dakota  23.3     24,000
20    21       Oklahoma  23.5    136,000
21    22     Washington  23.7    310,000
22    23    Mississippi  23.8    102,000
23    24        Indiana  23.9    281,000
24    25       Michigan  24.4    353,000
25    26     New Jersey  24.4    262,000

In [8]:
# Rename and reappend cleaned half of dataframe.
adult_unmet_need = adult_unmet_need.append(adult_unmet_need_2)

In [9]:
# Reset index to make cleaning possible
adult_unmet_need = adult_unmet_need.reset_index(drop=True)

In [11]:
# Add suffix 
adult_unmet_need = adult_unmet_need.add_suffix('_adult_unmet_need_2021')

In [12]:
adult_unmet_need = adult_unmet_need.rename(columns={'_adult_unmet_need_2021' : 'State'})

In [13]:
adult_unmet_need.to_csv(r'..\resources\adult_unmet_need_clean2021.csv')