In [57]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [58]:
tabula.convert_into(r"..\resources\2021_data.pdf", r"..\uncleaned_csv\adult_suicide2021.csv", output_format="csv", pages='20', stream = True)

In [59]:
# Read in csv
adult_access_df = pd.read_csv(r"..\uncleaned_csv\adult_suicide2021.csv")
adult_access_df
adult_access_df = adult_access_df.dropna(how='all')

In [60]:
# Extract second half of ami_df to make second df to be joined back in
adult_access_df_2 = adult_access_df[["Rank", "State", "%.1", "#.1"]]
adult_access_df_2 = adult_access_df_2.rename(columns={"%.1" : "%", "#.1": "#"})

In [61]:
# drop seperated columns
adult_access_df = adult_access_df.drop(columns={"Rank", "State", "%.1", "#.1"})

In [62]:
# Splitup problematic data
adult_access_df['Rank'], adult_access_df['State'] = adult_access_df['Rank State'].str.split(' ', 1).str

adult_access_df = adult_access_df.drop(columns='Rank State')

C:\Users\noaht\AppData\Local\Temp/ipykernel_16452/1540202657.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  adult_access_df['Rank'], adult_access_df['State'] = adult_access_df['Rank State'].str.split(' ', 1).str

In [63]:
# Rename and reappend cleaned half of dataframe.
adult_access_df = adult_access_df[['Rank', 'State', '%', '#']]
adult_access_df = adult_access_df.append(adult_access_df_2)

In [64]:
# Reset index to make cleaning possible
adult_access_df = adult_access_df.reset_index(drop=True)

In [65]:
# Drop bugged rows
adult_suicide_df = adult_access_df.drop(adult_access_df.index[[26, 27, 28]])

In [66]:
# Drop null rows
adult_suicide_df = adult_suicide_df.dropna(how='all')

In [67]:
# Reset index for further cleaning
adult_suicide_df = adult_suicide_df.reset_index(drop=True)

In [69]:
# Assign proper values
adult_suicide_df.loc[11, "Rank"]=12
adult_suicide_df.loc[11, "State"]='Pennsylvania'
adult_suicide_df.loc[37, "#"] = 29000

In [71]:
# Add suffix 
adult_suicide_df = adult_suicide_df.add_suffix('_adult_suicide_2021')

In [72]:
adult_suicide_df = adult_suicide_df.rename(columns={'State_adult_suicide_2021' : 'State'})

,Rank_adult_suicide_2021,State,%_adult_suicide_2021,#_adult_suicide_2021
0,1,New Jersey,3.47,"239,000"
1,2,New York,3.63,"558,000"
2,3,Texas,3.66,"756,000"
3,4,Florida,3.67,"610,000"
4,5,Illinois,3.87,"376,000"
5,6,Georgia,4.03,"314,000"
6,7,Maryland,4.07,"188,000"
7,8,California,4.10,"1,232,000"
8,9,Michigan,4.13,"319,000"
9,10,Virginia,4.16,"267,000"
10,11,District of Columbia,4.17,"23,000"
11,12,Pennsylvania,4.17,"416,000"
12,13,South Dakota,4.21,"27,000"
13,14,New Mexico,4.25,"67,000"
14,15,Nebraska,4.29,"61,000"
15,16,Arizona,4.43,"237,000"
16,17,Alabama,4.45,"165,000"
17,18,Tennessee,4.48,"230,000"
18,19,Connecticut,4.48,"125,000"
19,20,Oklahoma,4.53,"132,000"
20,21,North Carolina,4.57,"358,000"
21,22,Louisiana,4.57,"159,000"
22,23,Minnesota,4.59,"195,000"
23,24,Hawaii,4.59,"49,000"
24,25,Kentucky,4.65,"157,000"
25,26,Nevada,4.65,"107,000"
26,27.0,Rhode Island,4.66,"39,000"
27,28.0,Arkansas,4.71,"106,000"
28,29.0,Missouri,4.72,"219,000"
29,30.0,Maine,4.81,"52,000"
30,31.0,Mississippi,4.82,"107,000"
31,32.0,Kansas,4.82,"103,000"
32,33.0,South Carolina,4.90,"189,000"
33,34.0,New Hampshire,4.91,"53,000"
34,35.0,Massachusetts,4.92,"268,000"
35,36.0,Wyoming,5.04,"22,000"
36,37.0,Delaware,5.06,"38,000"
37,38.0,North Dakota,5.11,29000
38,39.0,Wisconsin,5.17,"231,000"
39,40.0,Ohio,5.18,"461,000"
40,41.0,Montana,5.21,"42,000"
41,42.0,Vermont,5.22,"26,000"
42,43.0,Indiana,5.23,"262,000"
43,44.0,West Virginia,5.26,"75,000"
44,45.0,Washington,5.30,"303,000"
45,46.0,Oregon,5.36,"175,000"
46,47.0,Iowa,5.40,"129,000"
47,48.0,Idaho,5.45,"69,000"
48,49.0,Colorado,5.51,"237,000"
49,50.0,Alaska,5.85,"31,000"
50,51.0,Utah,6.47,"141,000"
51,NaN,National,4.34,"10,770,000"

In [76]:
adult_suicide_df.to_csv(r'..\resources\adult_suicide_clean2021.csv')