In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"..\resources\2021_data.pdf", r"..\uncleaned_csv\youth_mde_2021.csv", output_format="csv", pages='23', stream = True)

In [3]:
# Read in csv
youth_mde_df = pd.read_csv(r"..\uncleaned_csv\youth_mde_2021.csv")

youth_mde_df = youth_mde_df.dropna(how='all')

In [4]:
youth_mde_df

,Rank State,%,#,Rank,State,%.1,#.1
0,"41,000 1 Mississippi",6.3,"15,000",27.0,Minnesota,9.8,NaN
1,2 Alabama,6.4,"23,000",28.0,South Carolina,9.8,"36,000"
2,3 District of Columbia,6.8,"2,000",29.0,Kansas,9.9,"23,000"
3,4 Pennsylvania,7.1,"64,000",30.0,Virginia,10.2,"62,000"
4,5 New York,7.8,"105,000",31.0,Washington,10.3,"53,000"
5,6 South Dakota,8.0,"5,000",32.0,Montana,10.4,"8,000"
6,7 New Jersey,8.1,"54,000",33.0,Missouri,10.4,"47,000"
7,8 Hawaii,8.5,"8,000",34.0,Alaska,10.7,"6,000"
8,9 North Dakota,8.5,"4,000",35.0,Vermont,10.7,"4,000"
9,10 Massachusetts,8.5,"40,000",36.0,Arkansas,10.7,"25,000"
11,11 California,8.7,"256,000",37.0,Illinois,11.0,"104,000"
12,12 Colorado,8.7,"36,000",38.0,Michigan,11.3,"84,000"
13,13 New Hampshire,8.7,"8,000",39.0,Nevada,11.8,"26,000"
14,14 Connecticut,9.0,"24,000",40.0,Utah,11.9,"36,000"
15,15 Nebraska,9.0,"14,000",41.0,Wyoming,12.0,"5,000"
16,16 Ohio,9.1,"79,000",42.0,West Virginia,12.5,"15,000"
17,17 Texas,9.2,"219,000",43.0,Arizona,12.5,"66,000"
18,18 Louisiana,9.2,"33,000",44.0,North Carolina,12.6,"98,000"
19,19 Tennessee,9.2,"46,000",45.0,Idaho,12.7,"19,000"
21,20 Florida,9.3,128000,46.0,Indiana,12.7,"66,000"
22,21 Georgia,9.3,78000,47.0,Oklahoma,12.7,"39,000"
24,22 Delaware,9.3,6000,48.0,Oregon,13.1,"37,000"
25,23 Rhode Island,9.5,"7,000",49.0,New Mexico,13.1,"21,000"
27,24 Kentucky,9.6,"31,000",50.0,Wisconsin,13.4,"58,000"
28,25 Iowa,9.8,"23,000",51.0,Maine,13.5,"12,000"
29,26 Maryland,9.8,"42,000",NaN,National,9.7,"2,343,000"

In [5]:
# Extract second half of ami_df to make second df to be joined back in
youth_mde_df_2 = youth_mde_df[["Rank", "State", "%.1", "#.1"]]
youth_mde_df_2 = youth_mde_df_2.rename(columns={"%.1" : "%", "#.1": "#"})

In [6]:
# drop seperated columns
youth_mde_df = youth_mde_df.drop(columns={"Rank", "State", "%.1", "#.1"})

In [7]:
# Splitup problematic data
youth_mde_df['Rank'], youth_mde_df['State'] = youth_mde_df['Rank State'].str.split(' ', 1).str

youth_mde_df = youth_mde_df.drop(columns='Rank State')

C:\Users\noaht\AppData\Local\Temp/ipykernel_18496/2090228903.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  youth_mde_df['Rank'], youth_mde_df['State'] = youth_mde_df['Rank State'].str.split(' ', 1).str

In [8]:
# Rename and reappend cleaned half of dataframe.
youth_mde_df = youth_mde_df[['Rank', 'State', '%', '#']]
youth_mde_df = youth_mde_df.append(youth_mde_df_2)

In [10]:
# Reset index to make cleaning possible
youth_mde_df = youth_mde_df.reset_index(drop=True)

In [11]:
youth_mde_df

      Rank                 State     %          #
0   41,000         1 Mississippi   6.3     15,000
1        2               Alabama   6.4     23,000
2        3  District of Columbia   6.8      2,000
3        4          Pennsylvania   7.1     64,000
4        5              New York   7.8    105,000
5        6          South Dakota   8.0      5,000
6        7            New Jersey   8.1     54,000
7        8                Hawaii   8.5      8,000
8        9          North Dakota   8.5      4,000
9       10         Massachusetts   8.5     40,000
10      11            California   8.7    256,000
11      12              Colorado   8.7     36,000
12      13         New Hampshire   8.7      8,000
13      14           Connecticut   9.0     24,000
14      15              Nebraska   9.0     14,000
15      16                  Ohio   9.1     79,000
16      17                 Texas   9.2    219,000
17      18             Louisiana   9.2     33,000
18      19             Tennessee   9.2     46,000
19      20               Florida   9.3     128000
20      21               Georgia   9.3      78000
21      22              Delaware   9.3       6000
22      23          Rhode Island   9.5      7,000
23      24              Kentucky   9.6     31,000
24      25                  Iowa   9.8     23,000
25      26              Maryland   9.8     42,000
26    27.0             Minnesota   9.8        NaN
27    28.0        South Carolina   9.8     36,000
28    29.0                Kansas   9.9     23,000
29    30.0              Virginia  10.2     62,000
30    31.0            Washington  10.3     53,000
31    32.0               Montana  10.4      8,000
32    33.0              Missouri  10.4     47,000
33    34.0                Alaska  10.7      6,000
34    35.0               Vermont  10.7      4,000
35    36.0              Arkansas  10.7     25,000
36    37.0              Illinois  11.0    104,000
37    38.0              Michigan  11.3     84,000
38    39.0                Nevada  11.8     26,000
39    40.0                  Utah  11.9     36,000
40    41.0               Wyoming  12.0      5,000
41    42.0         West Virginia  12.5     15,000
42    43.0               Arizona  12.5     66,000
43    44.0        North Carolina  12.6     98,000
44    45.0                 Idaho  12.7     19,000
45    46.0               Indiana  12.7     66,000
46    47.0              Oklahoma  12.7     39,000
47    48.0                Oregon  13.1     37,000
48    49.0            New Mexico  13.1     21,000
49    50.0             Wisconsin  13.4     58,000
50    51.0                 Maine  13.5     12,000
51     NaN              National   9.7  2,343,000

In [13]:
# Assign proper values
youth_mde_df.loc[0, "Rank"]=1
youth_mde_df.loc[0, "State"]='Mississippi'
youth_mde_df.loc[26, "#"] = 41000

In [15]:
# Add suffix 
youth_mde_df = youth_mde_df.add_suffix('_youth_mde_2021')

In [16]:
youth_mde_df = youth_mde_df.rename(columns={'State_youth_mde_2021' : 'State'})

In [17]:
youth_mde_df.to_csv(r'..\resources\youth_mde_clean2021.csv')